VITE_STRIPE_PUBLISHABLE_KEY="pk_live_51P9tzn086FJ2KtEBndM0wVtTgD6gyrLZzhCTG1gp1CVTu9tnpsUfMSC0nkI1qUPO1zshtCntHnVoPnXnQlGf5t9Z00TfMiubwM"
VITE_STRIPE_SECRET_KEY="sk_test_51P9tzn086FJ2KtEBFsjAEDRM80XB7obW7WXKpVJayBgrhhmQuawGwK5LErfjQzFTFBLZfBo2j21iz3cQmO6tTM7u001wBSkTsj"